/* ===================================================================
 * = BIBLIOTECAS
 * =================================================================== */
/*@import url(lib/normalize.less);*/
/* ===================================================================
 * = FONTES
 * =================================================================== */
@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url('../fontes/proximanova-bold-webfont.eot');
  src: url('../fontes/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fontes/proximanova-bold-webfont.woff2') format('woff2'), url('../fontes/proximanova-bold-webfont.woff') format('woff'), url('../fontes/proximanova-bold-webfont.ttf') format('truetype'), url('../fontes/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url('../fontes/proximanova-regular-webfont.eot');
  src: url('../fontes/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fontes/proximanova-regular-webfont.woff2') format('woff2'), url('../fontes/proximanova-regular-webfont.woff') format('woff'), url('../fontes/proximanova-regular-webfont.ttf') format('truetype'), url('../fontes/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_novalight';
  src: url('../fontes/proximanova-light-webfont.eot');
  src: url('../fontes/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fontes/proximanova-light-webfont.woff2') format('woff2'), url('../fontes/proximanova-light-webfont.woff') format('woff'), url('../fontes/proximanova-light-webfont.ttf') format('truetype'), url('../fontes/proximanova-light-webfont.svg#proxima_novalight') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* ===================================================================
 * = TEMPLATE
 * =================================================================== */
html {
  height: 100%;
}
body {
  font: 14px/18px Arial, Helvetica, sans-serif;
  color: #444;
  height: 100%;
  background: url(../imagens/texture-white.png) repeat;
}
* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
p {
  margin: 0 0 10px;
}
a {
  text-decoration: none;
}
a:visited,
a:hover {
  outline: none;
}
ul {
  padding-left: 0;
}
ol {
  list-style-type: decimal;
}
ul ul,
ol ol {
  padding-left: 15px;
}
li {
  list-style: none;
}
small {
  font-size: 85%;
}
textarea {
  overflow: auto;
}
img {
  -ms-interpolation-mode: bicubic;
}
button {
  cursor: pointer;
}
input[type=button],
input[type=submit] {
  cursor: pointer;
}
input[type=radio] {
  vertical-align: text-bottom;
}
input[type=checkbox] {
  vertical-align: bottom;
}
hr {
  display: none;
}
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}
.ie6 input {
  vertical-align: text-bottom;
}
/* DEFINIÇÕES
 * =================================================================== */
/* TAMANHOS */
div#all {
  width: 100%;
  height: 100%;
}
div.inteiro {
  width: 100%;
}
div.meio {
  width: 50%;
}
div.dois-tercos {
  width: 66.66666%;
}
div.um-terco {
  width: 33.33333%;
}
div.um-quarto {
  width: 25%;
}
div.main {
  width: 1000px;
  margin: auto;
}
/* MARGENS */
.mTop100 {
  margin-top: 100px;
}
.mTop90 {
  margin-top: 90px;
}
.mTop80 {
  margin-top: 80px;
}
.mTop70 {
  margin-top: 70px;
}
.mTop60 {
  margin-top: 60px;
}
.mTop50 {
  margin-top: 50px;
}
.mTop40 {
  margin-top: 40px;
}
.mTop30 {
  margin-top: 30px;
}
.mTop20 {
  margin-top: 20px;
}
.mTop10 {
  margin-top: 10px;
}
.mTop5 {
  margin-top: 5px;
}
.mTop-50 {
  margin-top: -50px;
}
.mTop-70 {
  margin-top: -70px;
}
.mRight100 {
  margin-right: 100px;
}
.mRight90 {
  margin-right: 90px;
}
.mRight80 {
  margin-right: 80px;
}
.mRight70 {
  margin-right: 70px;
}
.mRight60 {
  margin-right: 60px;
}
.mRight50 {
  margin-right: 50px;
}
.mRight40 {
  margin-right: 40px;
}
.mRight30 {
  margin-right: 30px;
}
.mRight20 {
  margin-right: 20px;
}
.mRight10 {
  margin-right: 10px;
}
.mRight5 {
  margin-right: 5px;
}
.mBottom100 {
  margin-bottom: 100px;
}
.mBottom90 {
  margin-bottom: 90px;
}
.mBottom80 {
  margin-bottom: 80px;
}
.mBottom70 {
  margin-bottom: 70px;
}
.mBottom60 {
  margin-bottom: 60px;
}
.mBottom50 {
  margin-bottom: 50px;
}
.mBottom40 {
  margin-bottom: 40px;
}
.mBottom30 {
  margin-bottom: 30px;
}
.mBottom20 {
  margin-bottom: 20px;
}
.mBottom10 {
  margin-bottom: 10px;
}
.mBottom5 {
  margin-bottom: 5px;
}
.mLeft100 {
  margin-left: 100px;
}
.mLeft90 {
  margin-left: 90px;
}
.mLeft80 {
  margin-left: 80px;
}
.mLeft70 {
  margin-left: 70px;
}
.mLeft60 {
  margin-left: 60px;
}
.mLeft50 {
  margin-left: 50px;
}
.mLeft40 {
  margin-left: 40px;
}
.mLeft30 {
  margin-left: 30px;
}
.mLeft20 {
  margin-left: 20px;
}
.mLeft10 {
  margin-left: 10px;
}
.mLeft5 {
  margin-left: 5px;
}
/* CORES */
.color-white {
  color: #f5f5f5;
}
/* FONTES */
h1,
h2,
h3,
h4,
h5 {
  line-height: 100%;
}
h2 {
  font-family: 'proxima_nova_rgbold';
  color: #333333;
  letter-spacing: -3px;
}
h4 {
  font-family: 'proxima_novalight';
  color: #5e5e5e;
  letter-spacing: -1px;
  line-height: 115%;
}
h3 {
  font-family: 'proxima_nova_rgbold';
  color: #333333;
  letter-spacing: -1px;
  font-size: 35px;
}
h5 {
  font-family: laila;
  color: #5e5e5e;
  font-size: 22px;
  font-weight: 300;
  line-height: 145%;
}
p {
  font-family: laila;
  color: #5e5e5e;
  font-size: 22px;
  line-height: 145%;
  font-weight: 300;
}
.left {
  float: left;
}
.right {
  float: right;
}
/* CABEÇALHO
 * =================================================================== */
#header-menu {
  width: 100%;
  height: 70px;
  z-index: 9999;
  opacity: 10;
}
#header-menu img.logo {
  width: 160px;
  margin-top: 15px;
}
#header-menu div.main {
  /*border-bottom: 1px solid #dddddd;*/

  padding-bottom: 7px;
  position: relative;
  z-index: 10;
}
#header-menu ul.menu {
  float: right;
  padding-top: 15px;
}
#header-menu ul.menu li {
  float: left;
  margin: 10px 0 0 50px;
  position: relative;
}
#header-menu ul.menu li a {
  font-family: 'proxima_nova_rgbold';
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
  cursor: pointer;
}
#header-menu ul.menu li a:hover {
  padding-bottom: 2px;
  border-bottom: 2px solid #e8442f;
}
#header-menu ul.menu li:last-child {
  width: 30px;
  height: 30px;
  margin-top: 4px;
}
#header-menu ul.menu li:last-child a {
  width: 30px;
  height: 30px;
  display: table;
  border: none;
  padding: 0;
  background: url(../imagens/icon-facebook-vermelho.png) top no-repeat;
}
#header-menu ul.menu li:last-child a:hover {
  background: url(../imagens/icon-facebook-vermelho.png) bottom no-repeat;
}
#header-menu ul.menu li:hover ul.dropdown {
  display: block;
}
#header-menu ul.menu li ul.dropdown {
  position: absolute;
  top: 21px;
  left: 0;
  display: none;
  padding-top: 5px;
}
#header-menu ul.menu li ul.dropdown li {
  display: block;
  float: left;
  margin-left: 0;
}
#header-menu ul.menu li ul.dropdown li a {
  font-family: 'proxima_nova_rgregular';
}
#header-menu ul.menu li ul.dropdown li:last-child {
  display: none;
}
#header-menu ul.menu-mobile {
  display: none;
}
/* RODAPÉ
 * =================================================================== */
#footer-rodape {
  display: table;
  padding: 60px 0 30px;
  margin: auto;
}
#footer-rodape a.logo-rodape {
  width: 32px;
  height: 36px;
  display: block;
  margin: auto;
  margin-bottom: 40px;
  background: url(../imagens/logo-icon.png) top no-repeat;
}
#footer-rodape a.logo-rodape:hover {
  background: url(../imagens/logo-icon.png) bottom no-repeat;
  transition: background linear 0.2s;
  -webkit-transition: background linear 0.2s;
  -moz-transition: background linear 0.2s;
  -o-transition: background linear 0.2s;
}
#footer-rodape hr {
  background: none;
  border: 1px solid #ddd;
  display: block !important;
  margin-bottom: 30px;
}
#footer-rodape span {
  float: left;
  font-size: 14px;
  font-family: 'proxima_nova_rgregular';
  color: #5e5e5e;
}
#footer-rodape ul {
  float: right;
}
#footer-rodape ul li {
  float: left;
  margin-left: 40px;
}
#footer-rodape ul li a {
  font-family: 'proxima_nova_rgregular';
  color: #5e5e5e;
  font-size: 14px;
  text-transform: capitalize;
  cursor: pointer;
}
#footer-rodape ul li a:hover {
  padding-bottom: 2px;
  border-bottom: 2px solid #e8442f;
}
/* CONTEÚDO
 * =================================================================== */
div.banner-home {
  background: url(../imagens/binding_dark.png) repeat;
  height: 100%;
}
.animate-home {
  -webkit-animation: home 1s;
  /* Chrome, Safari, Opera */

  animation: home 1s;
  -webkit-animation-fill-mode: both;
  animation-direction: alternate;
  /* Standard syntax */

}
@-webkit-keyframes home {
  0% {
    left: 0px;
    top: 30px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}
@keyframes home {
  0% {
    left: 0px;
    top: 30px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}
ul.banner {
  height: 100%;
  width: 100%;
  display: table;
}
ul.banner li {
  height: 100%;
  width: 100%;
}
ul.banner li div.box-txt {
  text-align: center;
  padding-top: 15%;
  z-index: 900;
  clear: both;
  position: relative;
}
ul.banner li div.box-txt h1 {
  font-family: 'proxima_nova_rgbold';
  font-size: 80px;
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
  position: relative;
  display: block;
}
ul.banner li div.box-txt h4 p {
  color: #fff;
  margin-bottom: 80px;
  font-size: 26px;
}
ul.banner li div.box-txt a {
  font-family: 'proxima_nova_rgbold';
  font-size: 18px;
  color: #fff;
  border: 2px solid #fff;
  padding: 15px 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
ul.banner li div.box-txt a:hover {
  color: #e8442f;
  background: #fff;
  transition: background linear 0.2s;
  -webkit-transition: background linear 0.2s;
  -moz-transition: background linear 0.2s;
  -o-transition: background linear 0.2s;
}
div.topo-internas {
  background: #eaeaea;
  height: 500px;
  margin: -70px 0 100px;
}
div.topo-internas div.main {
  text-align: center;
  padding-top: 180px;
  position: relative;
}
div.topo-internas div.main h2 {
  font-size: 140px;
  margin: auto;
  color: #f5f5f5;
  position: relative;
}
div.topo-internas div.main h4 p {
  font-size: 26px;
  margin: auto;
  margin-top: 20px;
  color: #f5f5f5;
  font-weight: 400;
}
div.content {
  /*margin-top: 100px;*/

}
/* ROVEDO */
ul.banner-rovedo {
  width: 1140px;
  margin: auto;
  display: table;
}
ul.banner-rovedo li {
  width: 100%;
  height: 550px;
  display: block;
  overflow: hidden;
  background: #222;
}
ul.banner-rovedo li img {
  width: 100%;
  height: 100%;
}
ul.banner-rovedo li div.desc-rovedo {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../imagens/hover.png) repeat;
  text-align: center;
  clear: both;
}
ul.banner-rovedo li div.desc-rovedo h3 {
  font-family: 'proxima_nova_rgbold';
  font-size: 60px;
  color: #fff;
  margin: 180px 0 50px;
}
ul.banner-rovedo li div.desc-rovedo h4 {
  font-family: 'proxima_novalight';
  font-size: 26px;
  color: #fff;
  line-height: 30px;
  width: 300px;
  margin: auto;
}
.conteudo-rovedo {
  display: table;
}
.conteudo-rovedo h3 {
  text-align: center;
  font-size: 60px;
  margin-bottom: 50px;
}
/* SERVIÇOS */
div.topo-servicos {
  background: url(../imagens/binding_dark.png) repeat;
  height: 250px;
  margin-top: -70px;
}
div.topo-servicos div.main {
  text-align: center;
}
ul.servicos {
  display: table;
  width: 100%;
  padding-top: 120px;
}
ul.servicos li {
  width: 24%;
  float: left;
}
ul.servicos li a {
  font-family: 'proxima_nova_rgbold';
  font-size: 16px;
  color: #dddddd;
}
ul.servicos li a:hover {
  color: #fff;
}
ul.servicos li:first-child a span.icon-servicos {
  width: 40px;
  height: 41px;
  display: table;
  background: url(../imagens/icon-web.png) top no-repeat;
  margin: auto;
  margin-bottom: 30px;
}
ul.servicos li:first-child a:hover span {
  background: url(../imagens/icon-web.png) bottom no-repeat;
}
ul.servicos li:nth-child(2) a span.icon-servicos {
  width: 42px;
  height: 41px;
  display: table;
  background: url(../imagens/icon-branding.png) top no-repeat;
  margin: auto;
  margin-bottom: 30px;
}
ul.servicos li:nth-child(2) a:hover span {
  background: url(../imagens/icon-branding.png) bottom no-repeat;
}
ul.servicos li:nth-child(3) a span.icon-servicos {
  width: 42px;
  height: 41px;
  display: table;
  background: url(../imagens/icon-impressos.png) top no-repeat;
  margin: auto;
  margin-bottom: 30px;
}
ul.servicos li:nth-child(3) a:hover span {
  background: url(../imagens/icon-impressos.png) bottom no-repeat;
}
ul.servicos li:last-child a span.icon-servicos {
  width: 56px;
  height: 41px;
  display: table;
  background: url(../imagens/icon-mkt.png) top no-repeat;
  margin: auto;
  margin-bottom: 30px;
}
ul.servicos li:last-child a:hover span {
  background: url(../imagens/icon-mkt.png) bottom no-repeat;
}
div.calculos {
  display: block;
  float: left;
  width: 100%;
}
div.calculos div.main {
  padding: 0;
}
div.calculos ul.lista-servicos {
  width: 100%;
}
div.calculos ul.lista-servicos li {
  float: right;
  display: block;
  width: 100%;
  background: #eaeaea;
  padding-top: 100px;
  margin: 100px 0;
  border-top: 10px solid #ddd;
  clear: both;
}
div.calculos ul.lista-servicos li div.imagem {
  width: 60%;
  height: auto;
  display: table;
  position: relative;
  float: right;
  -webkit-animation: jessie 2s;
  /* Chrome, Safari, Opera */

  animation: jessie 2s;
  -webkit-animation-fill-mode: both;
  animation-direction: alternate;
  /* Standard syntax */

}
@-webkit-keyframes jessie {
  0% {
    left: 600px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}
@keyframes jessie {
  0% {
    left: 600px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}
div.calculos ul.lista-servicos li div.imagem img {
  width: 100%;
  float: right;
}
div.calculos ul.lista-servicos li div.texto {
  width: 30%;
  margin-top: 50px;
  float: left;
  padding: 0 20px 0 80px;
}
div.calculos ul.lista-servicos li div.texto h3 {
  font-family: 'proxima_nova_rgbold';
  font-size: 60px;
  color: #333333;
  letter-spacing: -3px;
  text-align: left;
  margin-bottom: 40px;
}
div.calculos ul.lista-servicos li div.texto h4 {
  font-family: 'proxima_novalight';
  font-size: 20px;
  color: #5e5e5e;
  text-align: left;
  line-height: 24px;
}
div.calculos ul.lista-servicos li:nth-child(odd) {
  float: left;
  background: none;
  padding-top: 0;
  margin: 0;
  border-top: 0;
}
div.calculos ul.lista-servicos li:nth-child(odd) div.imagem {
  float: left;
  -webkit-animation: myfirst 2s;
  /* Chrome, Safari, Opera */

  animation: myfirst 2s;
  -webkit-animation-fill-mode: both;
  animation-direction: alternate;
  /* Standard syntax */

}
@-webkit-keyframes myfirst {
  0% {
    left: -600px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}
@keyframes myfirst {
  0% {
    left: -600px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}
div.calculos ul.lista-servicos li:nth-child(odd) div.imagem img {
  float: right;
}
div.calculos ul.lista-servicos li:nth-child(odd) div.texto {
  float: right;
  padding: 0 90px 0 0;
}
div.calculos ul.lista-servicos li:last-child {
  margin-bottom: 100px;
}
div.calculos .bg-gray {
  background: #ccc;
  padding-top: 50px;
}
/* PORTFOLIO */
ul.portfolio-lista {
  width: 1025px;
  margin-left: -25px;
  display: table;
  margin-top: 100px;
}
ul.portfolio-lista li {
  float: left;
  margin: 0 0 25px 25px;
  position: relative;
  overflow: hidden;
}
ul.portfolio-lista li span.descricao-portfolio {
  font-family: 'proxima_nova_rgbold';
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 12px 20px;
  background: url(../imagens/hover.png) repeat;
  z-index: 9;
}
ul.portfolio-lista li img {
  width: 100%;
  height: auto;
  float: left;
  display: inline-block;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
ul.portfolio-lista li div.hover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  display: none;
}
ul.portfolio-lista li div.hover a p {
  height: 100%;
  font-family: 'proxima_nova_rgbold';
  font-size: 34px;
  line-height: 34px;
  color: #fff;
  display: table;
  text-transform: uppercase;
  margin: 30px 0 0 30px;
}
ul.portfolio-lista li:hover span.descricao-portfolio {
  background: none;
  z-index: 100;
  opacity: 0.7;
}
ul.portfolio-lista li:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
ul.portfolio-lista li:hover div.hover {
  display: block;
  background: url(../imagens/hover.png) repeat;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
ul.portfolio-lista li.img-maior {
  width: 656px;
  height: 344px;
}
ul.portfolio-lista li.img-maior div.hover a {
  font-size: 80px;
  line-height: 80px;
  margin: 20px 0 0 20px;
}
ul.portfolio-lista li.img-menor {
  width: 315px;
  height: 344px;
}
/* PORTFOLIO INTERNA */
div.single h2 {
  font-size: 80px !important;
  color: #333333;
}
div.single h4 {
  color: #333333;
}
.relative {
  width: 1100px;
  position: relative;
  margin: auto;
}
ul.banner-portfolio {
  width: 1100px;
  margin: auto;
  display: table;
  margin-top: -200px;
}
ul.banner-portfolio li {
  width: 100%;
  height: 550px;
  display: block;
  overflow: hidden;
  background: #222;
}
ul.banner-portfolio li img {
  width: 100%;
  height: 100%;
}
div.txt {
  width: 66.66666%;
  float: left;
  margin-bottom: 100px;
}
div.txt p {
  font-size: 18px;
}
div.info-cliente {
  margin: 0 0 60px 25px;
  float: left;
}
div.info-cliente img {
  width: 160px;
  height: 84px;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
}
div.info-cliente p {
  line-height: 14px;
}
div.info-cliente a {
  font-family: 'proxima_nova_rgbold';
  font-size: 18px;
  color: #e8442f;
}
div.info-cliente a:hover {
  color: #333333;
}
/* CONTATO */
div.bg-contato {
  width: 100%;
  height: 250px;
  display: block;
  clear: both;
  /*
    background: url(../imagens/binding_dark.png) repeat;*/

}
div.bg-contato ul.contato {
  width: 1025px;
  margin-left: -25px;
  display: block;
  float: left;
  margin-bottom: 100px;
  padding-top: 0px;
}
div.bg-contato ul.contato li {
  width: 312px;
  height: 200px;
  margin: 0 0 0 25px;
  float: left;
  border: 2px solid #ddd;
  background: #222222 url(../imagens/bg-box-contato.jpg);
}
div.bg-contato ul.contato li img {
  margin: auto;
  display: block;
  margin-top: 40px;
  margin-bottom: 30px;
}
div.bg-contato ul.contato li span {
  width: 100%;
  text-align: center;
  margin: auto;
  display: block;
  font-family: 'proxima_nova_rgbold';
  font-size: 20px;
  color: #333333;
}
div.bg-contato ul.contato li span.end {
  font-size: 16px;
}
div.orcamento {
  width: 100%;
  margin: auto;
  display: block;
  clear: both;
  margin-bottom: 30px;
}
div.orcamento h3 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 40px;
}
div.orcamento h5 {
  text-align: center;
  font-size: 20px;
  line-height: 24px;
}
div.orcamento ul#orcamento {
  display: block;
  margin: auto;
  margin-top: 50px;
}
div.orcamento ul#orcamento li {
  width: 21.2%;
  float: left;
  margin: 0 18px 0 18px;
}
div.orcamento ul#orcamento li input {
  width: 100%;
  height: 50px;
  margin: auto;
  display: table;
  font-size: 16px;
  font-family: 'proxima_nova_rgregular';
  background: #fff;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  padding: 0 0 0 20px;
  box-shadow: none;
  border: 1px solid #ccc;
  filter: none;
  outline: 0;
}
div.orcamento ul#orcamento li input[type=submit] {
  width: 100%;
  background: #e8442f;
  color: #fff;
  font-family: 'proxima_nova_rgbold';
  font-size: 16px;
  padding: 0;
}
div.orcamento ul#orcamento li input[type=submit]:hover {
  background: #333333;
  transition: background linear 0.2s;
  -webkit-transition: background linear 0.2s;
  -moz-transition: background linear 0.2s;
  -o-transition: background linear 0.2s;
}
.wpcf7-not-valid-tip {
  clear: both;
  display: table;
}
.wpcf7-response-output,
.wpcf7-mail-sent-ok,
.wpcf7-validation-errors {
  clear: both;
  display: table;
}
/* ===================================================================
 * = MOBILE
 * =================================================================== */
/* DEFINIÇÕES
 * =================================================================== */
/* FONTES */
/* CORES */
/* ===================================================================
 * = 768
 * =================================================================== */
/* Tablet Portrait Size */
@media only screen and (min-width: 768px) and (max-width: 999px) {
  div.main {
    width: 740px;
    display: block;
    margin: auto;
  }
  div.content {
    padding: 0px;
  }
  ul.banner li div.box-txt {
    padding-top: 25%;
  }
  ul.banner li div.box-txt h1 {
    font-size: 80px;
  }
  div.topo-internas {
    height: 400px;
    margin-bottom: 80px;
  }
  div.topo-internas div.main {
    padding-top: 150px;
  }
  div.topo-internas div.main h2 {
    font-size: 100px;
  }
  div.topo-internas div.main h4 p {
    font-size: 26px;
    margin: auto;
    margin-top: 20px;
    color: #f5f5f5;
  }
  /* ROVEDO */
  ul.banner-rovedo {
    width: 768px;
    margin: auto;
    display: table;
  }
  ul.banner-rovedo li {
    height: 352px;
  }
  ul.banner-rovedo li div.desc-rovedo h3 {
    font-size: 50px;
    margin: 130px 0 50px;
  }
  ul.banner-rovedo li div.desc-rovedo h4 {
    font-size: 20px;
    color: #fff;
    line-height: 24px;
    width: 300px;
    margin: auto;
  }
  ul.link-servicos li {
    width: 24%;
  }
  .conteudo-rovedo {
    display: table;
  }
  .conteudo-rovedo h3 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
  }
  /* SERVIÇOS */
  div.calculos {
    display: block;
    float: left;
    width: 100%;
  }
  div.calculos div.main {
    padding: 0;
  }
  div.calculos ul.lista-servicos li {
    margin-bottom: 100px;
    width: 100%;
    padding-top: 60px;
    margin: 80px 0;
  }
  div.calculos ul.lista-servicos li div.imagem {
    float: right;
  }
  div.calculos ul.lista-servicos li div.texto {
    margin-top: 0;
    padding: 0 0 0 40px;
  }
  div.calculos ul.lista-servicos li div.texto h3 {
    font-size: 40px;
    letter-spacing: -3px;
    margin-bottom: 30px;
  }
  div.calculos ul.lista-servicos li div.texto h4 {
    font-size: 18px;
  }
  div.calculos ul.lista-servicos li:nth-child(odd) div.imagem {
    float: left;
  }
  div.calculos ul.lista-servicos li:nth-child(odd) div.texto {
    padding: 0 50px 0 0;
  }
  div.calculos ul.lista-servicos li:last-child {
    margin-bottom: 80px;
  }
  /* PORFOLIO */
  ul.portfolio-lista {
    width: 765px;
    margin-left: -25px;
    margin-top: 0;
  }
  ul.portfolio-lista li.img-maior {
    width: 485px;
    height: 252px;
  }
  ul.portfolio-lista li.img-maior img {
    width: 485px;
    height: 252px;
  }
  ul.portfolio-lista li.img-maior div.hover a {
    font-size: 50px;
    line-height: 50px;
    margin: 20px 0 0 20px;
  }
  ul.portfolio-lista li.img-menor {
    width: 230px;
    height: 252px;
  }
  ul.portfolio-lista li.img-menor img {
    width: 230px;
    height: 252px;
  }
  ul.portfolio-lista li.img-menor div.hover a {
    font-size: 35px;
    line-height: 35px;
    margin: 30px 0 0 30px;
  }
  /* PORTFOLIO INTERNA */
  div.single h2 {
    font-size: 80px !important;
    color: #333333;
  }
  div.single h4 {
    color: #333333;
  }
  .relative {
    width: 768px;
    position: relative;
    margin: auto;
  }
  ul.banner-portfolio {
    width: 768px;
    margin: auto;
    display: table;
    margin-top: -140px;
  }
  ul.banner-portfolio li {
    width: 100%;
    height: 352px;
    display: block;
    overflow: hidden;
    background: #222;
  }
  ul.banner-portfolio li img {
    width: 100%;
    height: 100%;
  }
  div.txt {
    margin-bottom: 60px;
  }
  div.info-cliente {
    margin-bottom: 60px;
  }
  /* CONTATO */
  div.bg-contato {
    height: 250px;
  }
  div.bg-contato ul.contato {
    width: 790px;
    margin-bottom: 80px;
    margin-left: -20px;
  }
  div.bg-contato ul.contato li {
    width: 231px;
    margin: 0 0 0 18px;
  }
  div.bg-contato ul.contato li span {
    font-size: 18px;
  }
  div.bg-contato ul.contato li span.end {
    font-size: 13px;
  }
  div.orcamento h3 {
    font-size: 40px;
  }
  div.orcamento h5 {
    font-size: 18px;
  }
  div.orcamento ul#orcamento {
    margin-top: 50px;
  }
  div.orcamento ul#orcamento li {
    width: 20.5%;
    height: 40px;
    float: left;
    margin: 0 16px;
  }
  div.orcamento ul#orcamento li input[type=submit] {
    font-size: 16px;
  }
}
/* ===================================================================
 * = 480
 * =================================================================== */
/* Mobile Landscape Size */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  h2 {
    line-height: 105%;
  }
  div.main {
    width: 440px;
    display: block;
    margin: auto;
  }
  /* CABEÇALHO
   * =================================================================== */
  #header-menu {
    display: block;
  }
  #header-menu img.logo {
    width: 160px;
    margin-top: 15px;
  }
  #header-menu ul.menu {
    display: none;
  }
  #header-menu ul.menu-mobile {
    display: block;
    float: right;
    padding-top: 11px;
  }
  #header-menu ul.menu-mobile li {
    margin-top: 10px;
  }
  #header-menu ul.menu-mobile li a {
    width: 30px;
    height: 30px;
    display: table;
    border: none;
    padding: 0;
    background: url(../imagens/menu-mobile.png) top no-repeat;
  }
  #header-menu ul.menu-mobile li a:active {
    background: url(../imagens/menu-mobile.png) bottom no-repeat;
  }
  ul.menu-mobile-aberto {
    width: 200px;
    height: 300px;
    overflow: hidden;
  }
  ul.menu-mobile-aberto li {
    text-align: center;
    margin-bottom: 24px;
  }
  ul.menu-mobile-aberto li a {
    font-family: 'proxima_nova_rgbold';
    font-size: 20px;
    color: #fff;
  }
  ul.menu-mobile-aberto li a:hover {
    color: #333333;
  }
  /* RODAPÉ
   * =================================================================== */
  #footer-rodape span {
    width: 100%;
    margin: auto;
    text-align: center;
  }
  #footer-rodape ul {
    width: 100%;
    margin: auto;
    margin-bottom: 30px;
  }
  #footer-rodape ul li {
    margin-left: 42px;
  }
  /* CONTEÚDO
   * =================================================================== */
  ul.banner li {
    padding-top: 80px;
  }
  ul.banner li div.box-txt {
    padding-top: 15%;
  }
  ul.banner li div.box-txt h1 {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 30px;
  }
  div.topo-internas {
    height: 300px;
    margin-bottom: 60px;
  }
  div.topo-internas div.main {
    text-align: center;
    padding-top: 100px;
  }
  div.topo-internas div.main h2 {
    font-size: 70px;
    margin: auto;
  }
  div.topo-internas div.main h4 p {
    font-size: 20px;
    margin: auto;
    margin-top: 20px;
  }
  /* ROVEDO */
  ul.banner-rovedo {
    width: 480px;
    margin: auto;
    display: table;
  }
  ul.banner-rovedo li {
    height: 220px;
    margin-bottom: 6px;
  }
  ul.banner-rovedo li div.desc-rovedo h3 {
    font-size: 35px;
    margin: 40px 0 30px;
  }
  ul.banner-rovedo li div.desc-rovedo h4 {
    font-size: 20px;
    color: #fff;
    line-height: 24px;
    width: 200px;
    margin: auto;
  }
  .conteudo-rovedo h3 {
    font-size: 40px;
    margin-bottom: 40px;
  }
  /* SERVIÇOS */
  div.calculos {
    display: block;
    float: left;
    width: 100%;
  }
  div.calculos div.main {
    padding: 0;
  }
  div.calculos ul.lista-servicos li {
    padding-top: 60px;
    margin: 60px 0;
  }
  div.calculos ul.lista-servicos li div.imagem {
    width: 90%;
    margin: auto;
    float: none;
  }
  div.calculos ul.lista-servicos li div.imagem img {
    float: none;
  }
  div.calculos ul.lista-servicos li div.texto {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 40px;
    text-align: center;
    padding: 0;
  }
  div.calculos ul.lista-servicos li div.texto h3 {
    font-size: 40px;
    letter-spacing: -2px;
    text-align: center;
    margin-bottom: 40px;
  }
  div.calculos ul.lista-servicos li div.texto h4 {
    font-size: 20px;
    text-align: center;
    padding: 0 20px;
  }
  div.calculos ul.lista-servicos li:nth-child(odd) {
    float: left;
    background: none;
    padding-top: 0;
    margin: 0;
    border-top: 0;
  }
  div.calculos ul.lista-servicos li:nth-child(odd) div.imagem {
    float: none;
  }
  div.calculos ul.lista-servicos li:nth-child(odd) div.imagem img {
    float: none;
  }
  div.calculos ul.lista-servicos li:nth-child(odd) div.texto {
    float: none;
  }
  div.calculos ul.lista-servicos li:last-child {
    margin-bottom: 60px;
  }
  /* PORTFOLIO */
  ul.portfolio-lista {
    width: 500px;
    margin-left: -20px;
    margin-top: 0;
  }
  ul.portfolio-lista li {
    margin: 0 0 20px 20px;
  }
  ul.portfolio-lista li.img-maior {
    width: 440px;
    height: 228px;
  }
  ul.portfolio-lista li.img-maior img {
    width: 440px;
    height: 228px;
  }
  ul.portfolio-lista li.img-maior div.hover a {
    font-size: 50px;
    line-height: 50px;
    margin: 20px 0 0 20px;
  }
  ul.portfolio-lista li.img-menor {
    width: 210px;
    height: 228px;
  }
  ul.portfolio-lista li.img-menor img {
    width: 210px;
    height: 228px;
  }
  ul.portfolio-lista li.img-menor div.hover a {
    font-size: 35px;
    line-height: 35px;
    margin: 20px 0 0 20px;
  }
  /* PORTFOLIO INTERNA */
  div.single h2 {
    font-size: 40px !important;
    color: #333333;
    padding-top: 10px;
  }
  div.single h4 {
    color: #333333;
  }
  ul.banner-portfolio {
    width: 480px;
    margin: auto;
    display: table;
    margin-top: -120px;
  }
  ul.banner-portfolio li {
    height: 220px;
  }
  ul.hide li:last-child {
    display: none;
  }
  div.txt {
    width: 100%;
    float: left;
    margin-bottom: 60px;
  }
  div.txt p {
    font-size: 18px;
    line-height: 22px;
  }
  div.info-cliente {
    margin: 0 0 60px 0;
  }
  .relative {
    width: 480px;
    position: relative;
    margin: auto;
  }
  /* CONTATO */
  div.bg-contato {
    height: 750px;
  }
  div.bg-contato ul.contato {
    width: 430px;
    margin: 0 0 80px;
  }
  div.bg-contato ul.contato li {
    width: 320px;
    margin: 0 0 25px 54px;
  }
  div.orcamento {
    margin-bottom: 0;
  }
  div.orcamento h3 {
    font-size: 40px;
    margin-bottom: 40px;
  }
  div.orcamento h5 {
    font-size: 20px;
  }
  div.orcamento ul#orcamento {
    margin-top: 50px;
    display: table;
  }
  div.orcamento ul#orcamento li {
    width: 85%;
    height: 50px;
    margin: 0 0 20px;
    padding: 0 0 0 20px;
  }
  div.orcamento ul#orcamento li input {
    width: 95%;
  }
  div.orcamento ul#orcamento li input[type=submit] {
    height: 50px;
    font-size: 20px;
    width: 100%;
    border: none;
    padding: 0 20px;
  }
  div.orcamento ul#orcamento li input[type=submit]:hover {
    background: #333333;
    transition: background linear 0.2s;
    -webkit-transition: background linear 0.2s;
    -moz-transition: background linear 0.2s;
    -o-transition: background linear 0.2s;
  }
}
/* ===================================================================
 * = 320
 * =================================================================== */
/* Mobile Portrait Size */
@media only screen and (max-width: 479px) {
  h2 {
    line-height: 105%;
  }
  div.main {
    width: 300px;
    display: block;
    margin: auto;
  }
  /* CABEÇALHO
   * =================================================================== */
  #header-menu {
    display: block;
  }
  #header-menu img.logo {
    width: 160px;
    margin-top: 15px;
  }
  #header-menu ul.menu {
    display: none;
  }
  #header-menu ul.menu-mobile {
    display: block;
    float: right;
    padding-top: 11px;
  }
  #header-menu ul.menu-mobile li {
    margin-top: 10px;
  }
  #header-menu ul.menu-mobile li a {
    width: 30px;
    height: 30px;
    display: table;
    border: none;
    padding: 0;
    background: url(../imagens/menu-mobile.png) top no-repeat;
  }
  #header-menu ul.menu-mobile li a:active {
    background: url(../imagens/menu-mobile.png) bottom no-repeat;
  }
  ul.menu-mobile-aberto {
    width: 200px;
    height: 300px;
    overflow: hidden;
  }
  ul.menu-mobile-aberto li {
    text-align: center;
    margin-bottom: 24px;
  }
  ul.menu-mobile-aberto li a {
    font-family: 'proxima_nova_rgbold';
    font-size: 20px;
    color: #fff;
  }
  ul.menu-mobile-aberto li a:hover {
    color: #333333;
  }
  /* RODAPÉ
   * =================================================================== */
  #footer-rodape span {
    width: 100%;
    margin: auto;
    text-align: center;
  }
  #footer-rodape ul {
    width: 100%;
    margin: auto;
    margin-bottom: 30px;
  }
  #footer-rodape ul li {
    margin-left: 14px;
  }
  /* CONTEÚDO
   * =================================================================== */
  ul.banner li {
    padding-top: 80px;
  }
  ul.banner li div.box-txt {
    padding-top: 15%;
  }
  ul.banner li div.box-txt h1 {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 30px;
  }
  div.topo-internas {
    height: 300px;
    margin-bottom: 60px;
  }
  div.topo-internas div.main {
    text-align: center;
    padding-top: 100px;
  }
  div.topo-internas div.main h2 {
    font-size: 60px;
    margin: auto;
  }
  div.topo-internas div.main h4 p {
    font-size: 20px;
    margin: auto;
    margin-top: 20px;
  }
  /* ROVEDO */
  .conteudo-rovedo h3 {
    font-size: 40px;
    margin-bottom: 40px;
  }
  ul.banner-rovedo {
    width: 300px;
    margin: auto;
    display: table;
  }
  ul.banner-rovedo li {
    height: 138px;
    margin-bottom: 6px;
  }
  ul.banner-rovedo li div.desc-rovedo {
    width: 100%;
  }
  ul.banner-rovedo li div.desc-rovedo h3 {
    font-size: 35px;
    margin: 25px 0 20px;
  }
  ul.banner-rovedo li div.desc-rovedo h4 {
    font-size: 20px;
    color: #fff;
    line-height: 24px;
    width: 280px;
    margin: auto;
  }
  ul.link-servicos li {
    width: 100%;
    margin-bottom: 6px;
  }
  /* SERVIÇOS */
  ul.servicos li a {
    font-size: 13px;
  }
  div.calculos {
    display: block;
    float: left;
    width: 100%;
  }
  div.calculos div.main {
    padding: 0;
  }
  div.calculos ul.lista-servicos li {
    padding-top: 60px;
    margin: 60px 0;
  }
  div.calculos ul.lista-servicos li div.imagem {
    width: 90%;
    margin: auto;
    float: none;
  }
  div.calculos ul.lista-servicos li div.imagem img {
    float: none;
  }
  div.calculos ul.lista-servicos li div.texto {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 40px;
    text-align: center;
    padding: 0;
  }
  div.calculos ul.lista-servicos li div.texto h3 {
    font-size: 40px;
    letter-spacing: -2px;
    text-align: center;
    margin-bottom: 40px;
  }
  div.calculos ul.lista-servicos li div.texto h4 {
    font-size: 20px;
    text-align: center;
    padding: 0 20px;
  }
  div.calculos ul.lista-servicos li:nth-child(odd) {
    float: left;
    background: none;
    padding-top: 0;
    margin: 0;
    border-top: 0;
  }
  div.calculos ul.lista-servicos li:nth-child(odd) div.imagem {
    float: none;
  }
  div.calculos ul.lista-servicos li:nth-child(odd) div.imagem img {
    float: none;
  }
  div.calculos ul.lista-servicos li:nth-child(odd) div.texto {
    float: none;
  }
  div.calculos ul.lista-servicos li:last-child {
    margin-bottom: 60px;
  }
  /* PORTFOLIO */
  ul.portfolio-lista {
    width: 300px;
    margin-left: 0;
    margin-top: 0;
  }
  ul.portfolio-lista li {
    margin: 0 0 20px 0;
  }
  ul.portfolio-lista li.img-maior {
    width: 300px;
    height: 158px;
  }
  ul.portfolio-lista li.img-maior img {
    width: 300px;
    height: 158px;
  }
  ul.portfolio-lista li.img-maior div.hover a {
    font-size: 35px;
    line-height: 35px;
    margin: 20px 0 0 20px;
  }
  ul.portfolio-lista li.img-menor {
    width: 300px;
    height: 328px;
  }
  ul.portfolio-lista li.img-menor img {
    width: 300px;
    height: 328px;
  }
  /* PORTFOLIO INTERNA */
  div.single h2 {
    font-size: 40px !important;
    color: #333333;
    padding-top: 10px;
  }
  div.single h4 {
    color: #333333;
  }
  ul.banner-portfolio {
    width: 320px;
    margin: auto;
    display: table;
    margin-top: -140px;
  }
  ul.banner-portfolio li {
    height: 138px;
  }
  div.txt {
    width: 100%;
    float: left;
    margin-bottom: 60px;
  }
  div.txt p {
    font-size: 18px;
    line-height: 22px;
  }
  div.info-cliente {
    margin: 0 0 60px 0;
  }
  .relative {
    width: 320px;
    position: relative;
    margin: auto;
  }
  /* CONTATO */
  div.bg-contato {
    height: 700px;
  }
  div.bg-contato ul.contato {
    width: 300px;
    margin: 0 0 40px;
  }
  div.bg-contato ul.contato li {
    width: 300px;
    margin: 0 0 25px 0;
  }
  div.orcamento {
    margin-bottom: 0;
  }
  div.orcamento h3 {
    font-size: 40px;
    margin-bottom: 40px;
  }
  div.orcamento h5 {
    font-size: 20px;
  }
  div.orcamento ul#orcamento {
    margin-top: 50px;
    display: table;
  }
  div.orcamento ul#orcamento li {
    width: 90%;
    height: 50px;
    margin: 0 0 10px;
    padding: 0 0 0 20px;
  }
  div.orcamento ul#orcamento li input {
    width: 88%;
  }
  div.orcamento ul#orcamento li input[type=submit] {
    height: 50px;
    font-size: 20px;
    width: 95%;
    border: none;
  }
  div.orcamento ul#orcamento li input[type=submit]:hover {
    background: #333333;
    transition: background linear 0.2s;
    -webkit-transition: background linear 0.2s;
    -moz-transition: background linear 0.2s;
    -o-transition: background linear 0.2s;
  }
}
