/* DEFINIÇÕES
 * =================================================================== */
/* FONTES */
/* CORES */
/* ===================================================================
 * = 768
 * =================================================================== */
/* Tablet Portrait Size */
@media only screen and (min-width: 768px) and (max-width: 999px) {
  div.main {
    width: 740px;
    display: block;
    margin: auto;
  }
  div.content {
    padding: 0px;
  }
  ul.banner li div.box-txt {
    padding-top: 25%;
  }
  ul.banner li div.box-txt h1 {
    font-size: 80px;
  }
  div.topo-internas {
    height: 400px;
    margin-bottom: 80px;
  }
  div.topo-internas div.main {
    padding-top: 150px;
  }
  div.topo-internas div.main h2 {
    font-size: 100px;
  }
  div.topo-internas div.main h4 p {
    font-size: 26px;
    margin: auto;
    margin-top: 20px;
    color: #f5f5f5;
  }
  /* ROVEDO */
  ul.banner-rovedo {
    width: 768px;
    margin: auto;
    display: table;
  }
  ul.banner-rovedo li {
    height: 352px;
  }
  ul.banner-rovedo li div.desc-rovedo h3 {
    font-size: 50px;
    margin: 130px 0 50px;
  }
  ul.banner-rovedo li div.desc-rovedo h4 {
    font-size: 20px;
    color: #fff;
    line-height: 24px;
    width: 300px;
    margin: auto;
  }
  ul.link-servicos li {
    width: 24%;
  }
  .conteudo-rovedo {
    display: table;
  }
  .conteudo-rovedo h3 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
  }
  /* SERVIÇOS */
  div.calculos {
    display: block;
    float: left;
    width: 100%;
  }
  div.calculos div.main {
    padding: 0;
  }
  div.calculos ul.lista-servicos li {
    margin-bottom: 100px;
    width: 100%;
    padding-top: 60px;
    margin: 80px 0;
  }
  div.calculos ul.lista-servicos li div.imagem {
    float: right;
  }
  div.calculos ul.lista-servicos li div.texto {
    margin-top: 0;
    padding: 0 0 0 40px;
  }
  div.calculos ul.lista-servicos li div.texto h3 {
    font-size: 40px;
    letter-spacing: -3px;
    margin-bottom: 30px;
  }
  div.calculos ul.lista-servicos li div.texto h4 {
    font-size: 18px;
  }
  div.calculos ul.lista-servicos li:nth-child(odd) div.imagem {
    float: left;
  }
  div.calculos ul.lista-servicos li:nth-child(odd) div.texto {
    padding: 0 50px 0 0;
  }
  div.calculos ul.lista-servicos li:last-child {
    margin-bottom: 80px;
  }
  /* PORFOLIO */
  ul.portfolio-lista {
    width: 765px;
    margin-left: -25px;
    margin-top: 0;
  }
  ul.portfolio-lista li.img-maior {
    width: 485px;
    height: 252px;
  }
  ul.portfolio-lista li.img-maior img {
    width: 485px;
    height: 252px;
  }
  ul.portfolio-lista li.img-maior div.hover a {
    font-size: 50px;
    line-height: 50px;
    margin: 20px 0 0 20px;
  }
  ul.portfolio-lista li.img-menor {
    width: 230px;
    height: 252px;
  }
  ul.portfolio-lista li.img-menor img {
    width: 230px;
    height: 252px;
  }
  ul.portfolio-lista li.img-menor div.hover a {
    font-size: 35px;
    line-height: 35px;
    margin: 30px 0 0 30px;
  }
  /* PORTFOLIO INTERNA */
  div.single h2 {
    font-size: 80px !important;
    color: #333333;
  }
  div.single h4 {
    color: #333333;
  }
  .relative {
    width: 768px;
    position: relative;
    margin: auto;
  }
  ul.banner-portfolio {
    width: 768px;
    margin: auto;
    display: table;
    margin-top: -140px;
  }
  ul.banner-portfolio li {
    width: 100%;
    height: 352px;
    display: block;
    overflow: hidden;
    background: #222;
  }
  ul.banner-portfolio li img {
    width: 100%;
    height: 100%;
  }
  div.txt {
    margin-bottom: 60px;
  }
  div.info-cliente {
    margin-bottom: 60px;
  }
  /* CONTATO */
  div.bg-contato {
    height: 250px;
  }
  div.bg-contato ul.contato {
    width: 790px;
    margin-bottom: 80px;
    margin-left: -20px;
  }
  div.bg-contato ul.contato li {
    width: 231px;
    margin: 0 0 0 18px;
  }
  div.bg-contato ul.contato li span {
    font-size: 18px;
  }
  div.bg-contato ul.contato li span.end {
    font-size: 13px;
  }
  div.orcamento h3 {
    font-size: 40px;
  }
  div.orcamento h5 {
    font-size: 18px;
  }
  div.orcamento ul#orcamento {
    margin-top: 50px;
  }
  div.orcamento ul#orcamento li {
    width: 20.5%;
    height: 40px;
    float: left;
    margin: 0 16px;
  }
  div.orcamento ul#orcamento li input[type=submit] {
    font-size: 16px;
  }
}
/* ===================================================================
 * = 480
 * =================================================================== */
/* Mobile Landscape Size */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  h2 {
    line-height: 105%;
  }
  div.main {
    width: 440px;
    display: block;
    margin: auto;
  }
  /* CABEÇALHO
   * =================================================================== */
  #header-menu {
    display: block;
  }
  #header-menu img.logo {
    width: 160px;
    margin-top: 15px;
  }
  #header-menu ul.menu {
    display: none;
  }
  #header-menu ul.menu-mobile {
    display: block;
    float: right;
    padding-top: 11px;
  }
  #header-menu ul.menu-mobile li {
    margin-top: 10px;
  }
  #header-menu ul.menu-mobile li a {
    width: 30px;
    height: 30px;
    display: table;
    border: none;
    padding: 0;
    background: url(../imagens/menu-mobile.png) top no-repeat;
  }
  #header-menu ul.menu-mobile li a:active {
    background: url(../imagens/menu-mobile.png) bottom no-repeat;
  }
  ul.menu-mobile-aberto {
    width: 200px;
    height: 300px;
    overflow: hidden;
  }
  ul.menu-mobile-aberto li {
    text-align: center;
    margin-bottom: 24px;
  }
  ul.menu-mobile-aberto li a {
    font-family: 'proxima_nova_rgbold';
    font-size: 20px;
    color: #fff;
  }
  ul.menu-mobile-aberto li a:hover {
    color: #333333;
  }
  /* RODAPÉ
   * =================================================================== */
  #footer-rodape span {
    width: 100%;
    margin: auto;
    text-align: center;
  }
  #footer-rodape ul {
    width: 100%;
    margin: auto;
    margin-bottom: 30px;
  }
  #footer-rodape ul li {
    margin-left: 42px;
  }
  /* CONTEÚDO
   * =================================================================== */
  ul.banner li {
    padding-top: 80px;
  }
  ul.banner li div.box-txt {
    padding-top: 15%;
  }
  ul.banner li div.box-txt h1 {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 30px;
  }
  div.topo-internas {
    height: 300px;
    margin-bottom: 60px;
  }
  div.topo-internas div.main {
    text-align: center;
    padding-top: 100px;
  }
  div.topo-internas div.main h2 {
    font-size: 70px;
    margin: auto;
  }
  div.topo-internas div.main h4 p {
    font-size: 20px;
    margin: auto;
    margin-top: 20px;
  }
  /* ROVEDO */
  ul.banner-rovedo {
    width: 480px;
    margin: auto;
    display: table;
  }
  ul.banner-rovedo li {
    height: 220px;
    margin-bottom: 6px;
  }
  ul.banner-rovedo li div.desc-rovedo h3 {
    font-size: 35px;
    margin: 40px 0 30px;
  }
  ul.banner-rovedo li div.desc-rovedo h4 {
    font-size: 20px;
    color: #fff;
    line-height: 24px;
    width: 200px;
    margin: auto;
  }
  .conteudo-rovedo h3 {
    font-size: 40px;
    margin-bottom: 40px;
  }
  /* SERVIÇOS */
  div.calculos {
    display: block;
    float: left;
    width: 100%;
  }
  div.calculos div.main {
    padding: 0;
  }
  div.calculos ul.lista-servicos li {
    padding-top: 60px;
    margin: 60px 0;
  }
  div.calculos ul.lista-servicos li div.imagem {
    width: 90%;
    margin: auto;
    float: none;
  }
  div.calculos ul.lista-servicos li div.imagem img {
    float: none;
  }
  div.calculos ul.lista-servicos li div.texto {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 40px;
    text-align: center;
    padding: 0;
  }
  div.calculos ul.lista-servicos li div.texto h3 {
    font-size: 40px;
    letter-spacing: -2px;
    text-align: center;
    margin-bottom: 40px;
  }
  div.calculos ul.lista-servicos li div.texto h4 {
    font-size: 20px;
    text-align: center;
    padding: 0 20px;
  }
  div.calculos ul.lista-servicos li:nth-child(odd) {
    float: left;
    background: none;
    padding-top: 0;
    margin: 0;
    border-top: 0;
  }
  div.calculos ul.lista-servicos li:nth-child(odd) div.imagem {
    float: none;
  }
  div.calculos ul.lista-servicos li:nth-child(odd) div.imagem img {
    float: none;
  }
  div.calculos ul.lista-servicos li:nth-child(odd) div.texto {
    float: none;
  }
  div.calculos ul.lista-servicos li:last-child {
    margin-bottom: 60px;
  }
  /* PORTFOLIO */
  ul.portfolio-lista {
    width: 500px;
    margin-left: -20px;
    margin-top: 0;
  }
  ul.portfolio-lista li {
    margin: 0 0 20px 20px;
  }
  ul.portfolio-lista li.img-maior {
    width: 440px;
    height: 228px;
  }
  ul.portfolio-lista li.img-maior img {
    width: 440px;
    height: 228px;
  }
  ul.portfolio-lista li.img-maior div.hover a {
    font-size: 50px;
    line-height: 50px;
    margin: 20px 0 0 20px;
  }
  ul.portfolio-lista li.img-menor {
    width: 210px;
    height: 228px;
  }
  ul.portfolio-lista li.img-menor img {
    width: 210px;
    height: 228px;
  }
  ul.portfolio-lista li.img-menor div.hover a {
    font-size: 35px;
    line-height: 35px;
    margin: 20px 0 0 20px;
  }
  /* PORTFOLIO INTERNA */
  div.single h2 {
    font-size: 40px !important;
    color: #333333;
    padding-top: 10px;
  }
  div.single h4 {
    color: #333333;
  }
  ul.banner-portfolio {
    width: 480px;
    margin: auto;
    display: table;
    margin-top: -120px;
  }
  ul.banner-portfolio li {
    height: 220px;
  }
  ul.hide li:last-child {
    display: none;
  }
  div.txt {
    width: 100%;
    float: left;
    margin-bottom: 60px;
  }
  div.txt p {
    font-size: 18px;
    line-height: 22px;
  }
  div.info-cliente {
    margin: 0 0 60px 0;
  }
  .relative {
    width: 480px;
    position: relative;
    margin: auto;
  }
  /* CONTATO */
  div.bg-contato {
    height: 750px;
  }
  div.bg-contato ul.contato {
    width: 430px;
    margin: 0 0 80px;
  }
  div.bg-contato ul.contato li {
    width: 320px;
    margin: 0 0 25px 54px;
  }
  div.orcamento {
    margin-bottom: 0;
  }
  div.orcamento h3 {
    font-size: 40px;
    margin-bottom: 40px;
  }
  div.orcamento h5 {
    font-size: 20px;
  }
  div.orcamento ul#orcamento {
    margin-top: 50px;
    display: table;
  }
  div.orcamento ul#orcamento li {
    width: 85%;
    height: 50px;
    margin: 0 0 20px;
    padding: 0 0 0 20px;
  }
  div.orcamento ul#orcamento li input {
    width: 95%;
  }
  div.orcamento ul#orcamento li input[type=submit] {
    height: 50px;
    font-size: 20px;
    width: 100%;
    border: none;
    padding: 0 20px;
  }
  div.orcamento ul#orcamento li input[type=submit]:hover {
    background: #333333;
    transition: background linear 0.2s;
    -webkit-transition: background linear 0.2s;
    -moz-transition: background linear 0.2s;
    -o-transition: background linear 0.2s;
  }
}
/* ===================================================================
 * = 320
 * =================================================================== */
/* Mobile Portrait Size */
@media only screen and (max-width: 479px) {
  h2 {
    line-height: 105%;
  }
  div.main {
    width: 300px;
    display: block;
    margin: auto;
  }
  /* CABEÇALHO
   * =================================================================== */
  #header-menu {
    display: block;
  }
  #header-menu img.logo {
    width: 160px;
    margin-top: 15px;
  }
  #header-menu ul.menu {
    display: none;
  }
  #header-menu ul.menu-mobile {
    display: block;
    float: right;
    padding-top: 11px;
  }
  #header-menu ul.menu-mobile li {
    margin-top: 10px;
  }
  #header-menu ul.menu-mobile li a {
    width: 30px;
    height: 30px;
    display: table;
    border: none;
    padding: 0;
    background: url(../imagens/menu-mobile.png) top no-repeat;
  }
  #header-menu ul.menu-mobile li a:active {
    background: url(../imagens/menu-mobile.png) bottom no-repeat;
  }
  ul.menu-mobile-aberto {
    width: 200px;
    height: 300px;
    overflow: hidden;
  }
  ul.menu-mobile-aberto li {
    text-align: center;
    margin-bottom: 24px;
  }
  ul.menu-mobile-aberto li a {
    font-family: 'proxima_nova_rgbold';
    font-size: 20px;
    color: #fff;
  }
  ul.menu-mobile-aberto li a:hover {
    color: #333333;
  }
  /* RODAPÉ
   * =================================================================== */
  #footer-rodape span {
    width: 100%;
    margin: auto;
    text-align: center;
  }
  #footer-rodape ul {
    width: 100%;
    margin: auto;
    margin-bottom: 30px;
  }
  #footer-rodape ul li {
    margin-left: 14px;
  }
  /* CONTEÚDO
   * =================================================================== */
  ul.banner li {
    padding-top: 80px;
  }
  ul.banner li div.box-txt {
    padding-top: 15%;
  }
  ul.banner li div.box-txt h1 {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 30px;
  }
  div.topo-internas {
    height: 300px;
    margin-bottom: 60px;
  }
  div.topo-internas div.main {
    text-align: center;
    padding-top: 100px;
  }
  div.topo-internas div.main h2 {
    font-size: 60px;
    margin: auto;
  }
  div.topo-internas div.main h4 p {
    font-size: 20px;
    margin: auto;
    margin-top: 20px;
  }
  /* ROVEDO */
  .conteudo-rovedo h3 {
    font-size: 40px;
    margin-bottom: 40px;
  }
  ul.banner-rovedo {
    width: 300px;
    margin: auto;
    display: table;
  }
  ul.banner-rovedo li {
    height: 138px;
    margin-bottom: 6px;
  }
  ul.banner-rovedo li div.desc-rovedo {
    width: 100%;
  }
  ul.banner-rovedo li div.desc-rovedo h3 {
    font-size: 35px;
    margin: 25px 0 20px;
  }
  ul.banner-rovedo li div.desc-rovedo h4 {
    font-size: 20px;
    color: #fff;
    line-height: 24px;
    width: 280px;
    margin: auto;
  }
  ul.link-servicos li {
    width: 100%;
    margin-bottom: 6px;
  }
  /* SERVIÇOS */
  ul.servicos li a {
    font-size: 13px;
  }
  div.calculos {
    display: block;
    float: left;
    width: 100%;
  }
  div.calculos div.main {
    padding: 0;
  }
  div.calculos ul.lista-servicos li {
    padding-top: 60px;
    margin: 60px 0;
  }
  div.calculos ul.lista-servicos li div.imagem {
    width: 90%;
    margin: auto;
    float: none;
  }
  div.calculos ul.lista-servicos li div.imagem img {
    float: none;
  }
  div.calculos ul.lista-servicos li div.texto {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 40px;
    text-align: center;
    padding: 0;
  }
  div.calculos ul.lista-servicos li div.texto h3 {
    font-size: 40px;
    letter-spacing: -2px;
    text-align: center;
    margin-bottom: 40px;
  }
  div.calculos ul.lista-servicos li div.texto h4 {
    font-size: 20px;
    text-align: center;
    padding: 0 20px;
  }
  div.calculos ul.lista-servicos li:nth-child(odd) {
    float: left;
    background: none;
    padding-top: 0;
    margin: 0;
    border-top: 0;
  }
  div.calculos ul.lista-servicos li:nth-child(odd) div.imagem {
    float: none;
  }
  div.calculos ul.lista-servicos li:nth-child(odd) div.imagem img {
    float: none;
  }
  div.calculos ul.lista-servicos li:nth-child(odd) div.texto {
    float: none;
  }
  div.calculos ul.lista-servicos li:last-child {
    margin-bottom: 60px;
  }
  /* PORTFOLIO */
  ul.portfolio-lista {
    width: 300px;
    margin-left: 0;
    margin-top: 0;
  }
  ul.portfolio-lista li {
    margin: 0 0 20px 0;
  }
  ul.portfolio-lista li.img-maior {
    width: 300px;
    height: 158px;
  }
  ul.portfolio-lista li.img-maior img {
    width: 300px;
    height: 158px;
  }
  ul.portfolio-lista li.img-maior div.hover a {
    font-size: 35px;
    line-height: 35px;
    margin: 20px 0 0 20px;
  }
  ul.portfolio-lista li.img-menor {
    width: 300px;
    height: 328px;
  }
  ul.portfolio-lista li.img-menor img {
    width: 300px;
    height: 328px;
  }
  /* PORTFOLIO INTERNA */
  div.single h2 {
    font-size: 40px !important;
    color: #333333;
    padding-top: 10px;
  }
  div.single h4 {
    color: #333333;
  }
  ul.banner-portfolio {
    width: 320px;
    margin: auto;
    display: table;
    margin-top: -140px;
  }
  ul.banner-portfolio li {
    height: 138px;
  }
  div.txt {
    width: 100%;
    float: left;
    margin-bottom: 60px;
  }
  div.txt p {
    font-size: 18px;
    line-height: 22px;
  }
  div.info-cliente {
    margin: 0 0 60px 0;
  }
  .relative {
    width: 320px;
    position: relative;
    margin: auto;
  }
  /* CONTATO */
  div.bg-contato {
    height: 700px;
  }
  div.bg-contato ul.contato {
    width: 300px;
    margin: 0 0 40px;
  }
  div.bg-contato ul.contato li {
    width: 300px;
    margin: 0 0 25px 0;
  }
  div.orcamento {
    margin-bottom: 0;
  }
  div.orcamento h3 {
    font-size: 40px;
    margin-bottom: 40px;
  }
  div.orcamento h5 {
    font-size: 20px;
  }
  div.orcamento ul#orcamento {
    margin-top: 50px;
    display: table;
  }
  div.orcamento ul#orcamento li {
    width: 90%;
    height: 50px;
    margin: 0 0 10px;
    padding: 0 0 0 20px;
  }
  div.orcamento ul#orcamento li input {
    width: 88%;
  }
  div.orcamento ul#orcamento li input[type=submit] {
    height: 50px;
    font-size: 20px;
    width: 95%;
    border: none;
  }
  div.orcamento ul#orcamento li input[type=submit]:hover {
    background: #333333;
    transition: background linear 0.2s;
    -webkit-transition: background linear 0.2s;
    -moz-transition: background linear 0.2s;
    -o-transition: background linear 0.2s;
  }
}
